@model ConfirmOldPassword
@{
    ViewData["Title"] = "Confirm password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Confirm Password</h1>
<form method="post" asp-action="ConfirmOldPassword" asp-controller="User">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="UserId" />
    <div class="form-group">
        <label asp-for="OldPassword"></label>
        <input type="password" class="form-control" placeholder="Password" asp-for="OldPassword">
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Check</button>
</form>


